{% extends "base_generic.html" %}

{% block content %}

{% if messages %}
  {% for message in messages %}
    <p>{{ message }}</p>
  {% endfor %}
{% endif %}

<h2>Entregas de {{ usuario.first_name }} {{ usuario.last_name }}</h2>

<ul>
  {% for entrega in entregas %}
    <li>

      <!-- Nombre de la tarea -->
      <strong>{{ entrega.tarea }}</strong><br>
      <!-- Tipo de tarea: individual o grupal --> 
      {% if entrega.tarea.individual %}
        <span style="background:#e3f2fd; padding:2px 6px; border-radius:6px;">
          TAREA INDIVIDUAL
        </span>
        <span>
          (Asignada a {{ entrega.tarea.individual.alumno_asignado.first_name }}
          {{ entrega.tarea.individual.alumno_asignado.last_name }})
        </span>

      {% elif entrega.tarea.grupal %}
        <span style="background:#f3e5f5; padding:2px 6px; border-radius:6px;">
          TAREA GRUPAL
        </span>
        <span>
          ({{ entrega.tarea.grupal.alumnos.count }} alumnos en el grupo)
        </span>
      {% endif %}

      <br>

      <!-- Estado de la entrega -->
      Estado:
      {% if entrega.estado == "entregada" and entrega.tarea.evaluable.requiere_validacion_profesor %}
        <span style="color:orange;">ENTREGADA (pendiente de validación)</span>

      {% elif entrega.estado == "entregada" %}
        <span style="color:orange;">ENTREGADA</span>
        <a href="{% url 'validar' dni entrega.tarea_id %}">Validar</a>

      {% elif entrega.estado == "validada" %}
        <span style="color:green;">VALIDADA</span>

      {% elif entrega.estado == "pendiente" %}
        <span style="color:red;">PENDIENTE</span>
        <a class="btn btn-success"
           href="{% url 'entregar_tarea' dni entrega.tarea_id %}">
          Entregar
        </a>

      {% elif entrega.estado == "no_validada" %}
        <span style="color:red;">NO VALIDADA</span>
      {% endif %}

      <br>

      <!-- Fecha de entrega -->
      Fecha entrega:
      {{ entrega.fecha_entrega|date:"d/m/Y H:i" }}
       <br> <br>
    </li>

  {% empty %}
    <li>No hay entregas registradas.</li>
  {% endfor %}
</ul>

{% endblock %}
