{% extends "base_generic.html" %}

{% block content %}

{% if messages %}
  {% for message in messages %}
    <p>{{ message }}</p>
  {% endfor %}
{% endif %}

<h2>Profesor: {{ profesor.first_name }} {{ profesor.last_name }} </h2>

<h3>Tareas para validar</h3>

<ul>
  {% for entrega in entregas_para_validar %}
    <li>
      {{ entrega.tarea.titulo }} - límite: {{ entrega.tarea.fecha_entrega }}
      - Alumno: {{ entrega.alumno.email }}

      <a href="{% url 'validar_profesor' dni entrega.tarea_id entrega.alumno_id %}">
        Validar
      </a>
    </li>
  {% empty %}
    <li>No tienes tareas para validar</li>
  {% endfor %}
</ul>







{% endblock %}


