{% extends "base_generic.html" %}

{% block content %}

<h2>Tareas de {{ profesor.first_name }} {{ profesor.last_name }}</h2>
<h2> {{ profesor.rol }} </h2>
<h3>Tareas para validar</h3>
<ul>
    {% for tarea in tareas_para_validar %}
        <li>{{ tarea.titulo }} - entrega: {{ tarea.fecha_entrega }}</li>
    {% empty %}
     <li>No tienes tareas para validar</li>
    {% endfor %}
</ul>




<div style="margin-top: 20px;">
    <a href="{% url 'buscar_por_dni' %}">
        <button type="button">Volver</button>
    </a>
</div>


{% endblock %}


